$color-main: #cf383e;
$color-titles: #fff;
$color-subtitles: #bfbfbf;
$background-color: #131313;

$font: 'Source Sans Pro', sans-serif;

$font-black: Black 900;
$font-light: 400;
$font-semibold: 600;
$font-bold: 700;
